<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.githubyss.mobile.experiment.app"
          tools:ignore="GradleOverrides"
        >

    <application
            android:allowBackup="false"
            android:supportsRtl="true"
            >

        <activity
                android:name=".homepage.ExpHomepageActivity"
                android:launchMode="singleTask"
                android:screenOrientation="portrait"
                android:theme="@style/comresAppTheme"
                android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
                />
    </application>
</manifest>
